[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
click = "*"
fastapi = "*"
h11 = "*"
pydantic = "*"
starlette = "*"
typing-extensions = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
requests = "*"

[requires]
python_version = "3.9"